
ul.nav.nav-list.nav-pills.nav-stacked.abn-tree

  li.abn-tree-row(
    ng-repeat='row in tree_rows | filter:{visible:true} track by $index'
    ng-animate="'abn-tree-animate'"
    ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'') + ' ' +row.classes.join(' ')"
    )

    a(context-menu='user_clicks_branch(row.branch)'
    data-target='{{row.branch.menu}}'
    ng-click="user_clicks_branch(row.branch)").position-fixed

      i.indented.tree-icon(
        ng-class="row.tree_icon"
        ng-click="row.branch.expanded = !row.branch.expanded"
        )
      span.indented.tree-label(ng-hide="row.branch.edit") {{ row.label }}
      input.intented.tree-edit(ng-show="row.branch.edit"
                              ng-model="row.branch.label"
                              focus="{{row.branch.edit}}" 
                              ng-blur="branch_label_changed(row.branch)")
